/* Portfolio Styles */
.portfolio{
    margin-top: 100px;
}

.portfolio-cards{
    padding: 50px 180px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 100px;
}

.portfolio-card img {
    transition: .5s;
}

.portfolio-card img:hover{
    transform: scale(.9);
}

.heading{
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    color: rgb(5, 214, 5);
}

.card-title{
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: 600;
    color: rgb(5, 214, 5);
}

.card-info{
    line-height: 28px;
    color: rgb(100, 98, 98);
}

.darkmode .card-info{
    color: #fff;
}
/* Portfolio Styles */

/* Media Styles */
@media (max-width:1200px){
    /* Portfolio Section */
       .portfolio-cards{
        padding: 30px 0;
        grid-template-columns: auto;
        text-align: center;
        gap: 50px;
    }

    .portfolio-card img{
        width: 30rem;
    }
    /* /Portfolio Section */
}

@media (max-width:560px){
    /* Portfolio Section */
    .portfolio-card img{
        width: 300px;
    }
    /* /Portfolio Section */
}
/* Media Styles */

